#!/usr/bin/env python3
# -*- coding: utf-8 -*-

import random, time, traceback

# Create your script here:
def awesome(InstaPy, username, password, proxy=None):
    try:
        session = InstaPy(username=username, password=password)
        session.login()
        session.end()
    except:
        print(traceback.format_exc())

def biglikers(InstaPy, username, password, proxy=None):
    try:
        session = InstaPy(username=username, password=password)
        session.login()
        session.end()
    except:
        print(traceback.format_exc())

# !! Not delete the following code.
class scripts:
    def __init__(self):
        functions = [f for fname, f in sorted(globals().items()) if callable(f)]
        self.scripts = {}
        for function in functions:
            name = str(function.__name__).lower()
            if name != "scripts":
                self.scripts[name] = function
